<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Management</title>
    <link rel="stylesheet" type="text/css" href="static/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 

</head>
<body>
    <div class="text-center bg" style="padding-top: 20px;padding-bottom: 20px;">
        <h1>User Management Dashboard</h1>
    </div>
    <div class="text-center my-5">
        <h1 class="fnt"><kbd> User Details </kbd></h1>
    </div>
    {% if data["flag"] == 1 %}
    <div style="padding-left:30%;">
        <div style="display: inline-block;">
            <h2>Name : <p class="second_p">{{(data["name"])}}</p></h2>
            <h2>E-mail : <p class="second_p">{{(data["email"])}}</p></h2>
            <h2>Password : <p class="second_p"> {{(data["pwd"])}}</p></h2>
            <h2>Phone : <p class="second_p">{{(data["phone"])}}</p></h2>
            <h2>Time : <p class="second_p">{{(data["time"])}}</p></h2>
        </div>
    </div>
        {% else %}
        <h2 class="text-center">No user Found<h2>
        {% endif %}
</body>
</html>