.bg{
    background: -webkit-gradient(linear, left top, right top, from(#c70039), color-stop(70%, #ff5733));
}
.btn1{
    width: 150px;
    height: 50px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    outline-color: #c70039;
}
.fnt{
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
.box{
    background-color: #ff5733;
    height: 200px;
    width: 600px;
    display: inline-block;
}
.main{
    text-align: center;
    margin-top: 150px;
}
.second_p{
    display: inline-block;
    font-size: 25px;
}
body {
    font-family: 'Courier New', Courier, monospace;
}

